google-genai
edge-tts
moviepy
requests
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
Pillow
imageio
imageio-ffmpeg
numpy
kokoro-onnx
soundfile
tiktok-uploader

imageio-ffmpeg
flask
apscheduler
pytrends
